* {
  background: #EFEFEF;
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

#header {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-bottom: 2px solid #E4E4E4;
}

.social {
  display: flex;
  /* Esse serve pra dispor os elementos um ao lado do outro */
   justify-content: flex-end;
  /* E esse, para separá-los em cada extremidade */
  height: 3.5rem;
  /* Aqui, eu optei por 4,5 (*16 pixels) de altura */
  align-items: center;
  width: 100%;
  margin-left: -0.5rem;
}

.icon-instagram {
  color: #D52C8A;
}

.icon-whatsapp {
  color: #3BE159;
}

.icon-phone {
  color: #0BCD74;
}

#main {
  width: 100%;
}

img {
  width: 100%;
  /* Esse deve deixar do tamanho certinho da tela */
  height: auto;
}

svg {
  font-size: 1.6rem;
}



.md-calendar-booking .mbsc-calendar-text {
    text-align: center;
}

.md-calendar-booking .booking-datetime .mbsc-datepicker-tab-calendar {
    flex: 1 1 0;
    min-width: 300px;
}

.md-calendar-booking .mbsc-timegrid-item {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.md-calendar-booking .mbsc-timegrid-container {
    top: 30px;
}
