* {
  background: #FFF1FE;
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;

  scroll-behavior: smooth;
}

:root {
  --hue: 412;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

#header {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 0.8rem;
  border-bottom: 1px solid #ecdfdf;
  margin-bottom: 5rem;
}

.social {
  display: flex;
  justify-content: flex-end;
  height: 3.5rem;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-left: -0.5rem;
}

.icon-instagram {
  color: #D52C8A;
}

.icon-whatsapp {
  color: #3BE159;
}

.icon-phone {
  color: #0BCD74;
}

.title {
  text-align: center;
} 

img {
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
}

svg {
  font-size: 1.6rem;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#ID {
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 19px;
}

#agenda {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#button {
  display: flex;
}

.button {
  margin: auto;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  background-color: hsla(345, 36%, 57%, 1);
  color: white;
  height: 3.5rem;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'Roboto', sans-serif;
  transition: background 0.5s;
}

.button:hover {
  background: hsla(345, 36%, 37%, 1);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34%) 100%
  );
  margin-top: 7rem;
  margin-bottom: 7rem;
}

@media (min-width: 1024px) {
  #main {
    margin: 0 auto;
  }

  #main img {
    width: 50%;
    margin-left: 21rem;
  }
  
  .social {
    display: flex;
    justify-content: flex-end;
    margin-left: 0;
  }

  .icon-phone {
    display: none;
  }
} 
